echo "*.pro.user" >> .gitignore
echo "build/" >> .gitignore
echo "moc_*" >> .gitignore
echo "ui_*" >> .gitignore
echo "qrc_*" >> .gitignore
echo "Makefile" >> .gitignore
echo "*.o" >> .gitignore
echo "*.obj" >> .gitignore
echo "*.so" >> .gitignore
echo "*.dll" >> .gitignore
echo "*.exe" >> .gitignore
